= f.text_field :first_name, placeholder: "First Name"
= f.text_field :last_name, placeholder: "Last Name"
%br
= f.select :school_id, options_from_collection_for_select(@schools, 'id', 'name'), prompt: "Select School"
%br
= f.select :grade_level, options_for_select([['6th Grade', '6th Grade'], ['7th Grade', '7th Grade'], ['8th Grade', '8th Grade']]), prompt: "Select Grade"
%br
